<a href="https://colab.research.google.com/github/LuizHenriqueGiusti/-teste_colab_github/blob/main/analiseexploratoriopandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

compra = pd.read_csv("loja.csv", index_col=0)

compra.loc["mai"][1]=75

compra.to_csv('loja2.csv')

In [ ]:
import pandas as pd

compra = pd.read_csv("loja.csv", index_col=0)

#compra.loc['mar']
compra.iloc[2]

In [ ]:
import pandas as pd

compra = pd.read_csv("loja.csv", index_col=0)

#compra.columns
#compra.columns[0]
#compra.rename(columns={'rec':'receita'},inplace = True) #renomear coluna
compra

In [ ]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

#compra = compra.drop(columns=['custo'])
#compra = compra.drop(index = ['abr','jun'])
compra

In [ ]:
import pandas as pd

compra = pd.read_csv("loja.csv", index_col=0)

compra

In [ ]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

compra.query('receita<96')

In [ ]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

compra2 = compra.query('receita<111 & custo>80')
compra2

In [62]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

compra.query('receita<98 or custo>90')

     receita  custo
mes
jan     95.0   70.0
mar     89.0   68.0
mai    115.0   92.0

In [72]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

#compra.query('receita<98 or custo>90')

#a = list(compra['custo'])
#b = list(compra.iloc[1])

for i in compra.iloc:
  print((list(i)[0]-list(i)[1]))

25.0
16.549999999999997
21.0
30.0
23.0
20.799999999999997

In [79]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

#data = {'apples':[3,2,0,1],'oranges':[0,3,7,2]}

#compra = pd.DataFrame(data) #criando novo dataframe compra
#compra

df = pd.DataFrame([[2,4,8],[8,9,1]],columns=['A','B','C'])
df

   A  B  C
0  2  4  8
1  8  9  1

In [ ]:
import pandas as pd

#compra = pd.read_csv("loja.csv", index_col=0)

#data = {'apples':[3,2,0,1],'oranges':[0,3,7,2]}

#compra = pd.DataFrame(data) #criando novo dataframe compra
#compra

df = pd.DataFrame([[2,4,8],[8,9,1]],columns=['A','B','C'])
df.loc [2] = [5,5,5]
df ['D'] = [8,8,8]
df