<a href="https://colab.research.google.com/github/LuizHenriqueGiusti/-teste_colab_github/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd

dados = {"apples":[3,2,0,1],"orange":[0,3,7,2]}

compras = pd.DataFrame(dados,index=["david", "ana", "pai", "mae"])

#compras
#compras.loc[2]
#compras.loc[2][1]

compras.to_csv("compras2.csv")

In [43]:
import pandas as pd
import matplotlib.pyplot as plt


dados = pd.read_csv("dados.csv",index_col=0)

dados
#H√Å COMANDOS PARA FILTROS

#dados.plot (kind="scatter",x="apple",y="orange")

       apple  orange
nome
david      2       3
ana        6       8
pai       14      15
mae       28      30